In [3]:
SELECT ROGZITETTE,
        SZALLAS_NEV,
        CIM
from szallashely 
WHERE HELY LIKE '%Balaton%'
order BY CSILLAGOK_SZAMA DESC

ROGZITETTE,SZALLAS_NEV,CIM
Béla,Hotel Három Hattyú,"8623 Balatonföldvár, Rákóczi Ferenc út 45."
Mari,Jáde panzió,"8624 Balatonföldvár, Kiss u.2."
Béla,Tímárház Panzió,"8600 Siófok, Virág utca 1"
Béla,Kentaur Hotel,"8600 Siófok (Széplak), Akácfa utca 1"
Mari,Szieszta Apartmanház,"8630 Balatonboglár, Dózsa György utca 108"
Béla,Sába-Ház,"8630 Balatonboglár, Radnóti Miklós utca 8"
Béla,Családi Ház,"8630 Balatonboglár, József Attila utca 25"
Béla,Partiszél Vendégház,8220 Balatonalmádi Neptun u. 23.

In [9]:
SELECT szh.TIPUS, 
    ROUND(COUNT(*),-2) AS 'DB'

FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID

                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID

GROUP BY szh.TIPUS 
HAVING ROUND(COUNT(*),-2) < 500

TIPUS,DB
Apartman,100
vendégház,100
panzió,200

In [23]:
SELECT f.SZOBA_FK,
        YEAR(METTOL) AS 'ÉV',
        COUNT(f.SZOBA_FK) AS 'DB'

from Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
GROUP BY f.SZOBA_FK, f.METTOL
HAVING COUNT(f.SZOBA_FK) > 10

EXCEPT

SELECT f.SZOBA_FK,
        YEAR(METTOL) AS 'ÉV',
        COUNT(f.SZOBA_FK) AS 'DB'

from Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
GROUP BY f.SZOBA_FK, f.METTOL
HAVING SZOBA_FK%2 = 0