In [9]:
SELECT sz.SZOBA_SZAMA,
        COUNT(f.FOGLALAS_PK)

        
FROM Foglalas f join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
group by sz.SZOBA_SZAMA

SZOBA_SZAMA,(No column name)
1,57
10,35
11,28
12,34
13,17
14,26
15,25
16,16
17,18
18,24
19,19
2,50
20,21
21,33
22,19
23,21
24,17
25,21
26,10
27,16
28,15
29,18
3,65
30,12
31,21
32,18
33,17
34,22
35,5
36,6
37,7
38,5
39,4
4,75
5,62
6,52
7,36
8,30
9,50

In [22]:
select distinct v.nev
from foglalas f join vendeg v on f.UGYFEL_FK = v.USERNEV
                    join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
where sz.FEROHELY in
(   
    select max(sz.FEROHELY)
    from foglalas f join vendeg v on f.UGYFEL_FK = v.USERNEV
                    join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
    where sz.KLIMAS = 'i'
)

nev
Berendi Péter
Gyuris József
Turcsik Tünde

In [24]:
create table #MASKED_GUEST
(
    USERNEV nvarchar(20) PRIMARY KEY,
    NEV NVARCHAR(50) MASKED WITH (function = 'partial(2, "XXXX", 3)'),
    EMAIL NVARCHAR(60),
    SZAML_CIM NVARCHAR(100),
    SZUL_DAT date
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named '#MASKED_GUEST' in the database.