In [30]:
SELECT sz.SZOBA_SZAMA,
        COUNT(f.FOGLALAS_PK)

        
FROM Foglalas f RIGHT join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
group by sz.SZOBA_SZAMA

SZOBA_SZAMA,(No column name)
2,50
34,22
39,4
15,25
45,0
3,65
26,10
6,52
21,33
23,21
11,28
46,0
41,0
4,75
35,5
49,0
16,16
22,19
31,21
10,35
27,16
40,0
13,17
47,0
43,0
29,18
24,17
38,5
19,19
14,26
20,21
12,34
44,0
50,0
42,0
17,18
7,36
30,12
37,7
33,17
8,30
25,21
28,15
48,0
5,62
32,18
1,57
36,6
9,50
18,24

In [22]:
select distinct v.nev
from foglalas f join vendeg v on f.UGYFEL_FK = v.USERNEV
                    join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
where sz.FEROHELY in
(   
    select max(sz.FEROHELY)
    from foglalas f join vendeg v on f.UGYFEL_FK = v.USERNEV
                    join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
    where sz.KLIMAS = 'i'
)

nev
Berendi Péter
Gyuris József
Turcsik Tünde

In [24]:
create table #MASKED_GUEST
(
    USERNEV nvarchar(20) PRIMARY KEY,
    NEV NVARCHAR(50) MASKED WITH (function = 'partial(2, "XXXX", 3)'),
    EMAIL NVARCHAR(60),
    SZAML_CIM NVARCHAR(100),
    SZUL_DAT date
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named '#MASKED_GUEST' in the database.

In [31]:
SELECT  sz.SZOBA_SZAMA,
        f.METTOL,
        COUNT(*)
from foglalas f join vendeg v on f.UGYFEL_FK = v.USERNEV
                    join Szoba sz on f.SZOBA_FK = sz.SZOBA_ID

: Msg 8120, Level 16, State 1, Line 1
Column 'Szoba.SZOBA_SZAMA' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.